{% paginate space.ideas by 2 %}

<!-- Oh noes, static content... i'll fix this later -->
<ul class="unstyled">
	{% for idea in pagination.collection %}
		<li class="main-list-item">
			<img src="{{idea.custom1}}" alt="{{idea.title}}"/>
			<h4>{{idea.title}}</h4>
		</li>
	{% endfor %}
</ul>
<ul class="unstyled">
	{% for idea in pagination.collection %}
		<li class="main-list-item">
			<img src="{{idea.custom1}}" alt="{{idea.title}}"/>
			<h4>{{idea.title}}</h4>
		</li>
	{% endfor %}
</ul>
<ul class="unstyled">
	{% for idea in pagination.collection %}
		<li class="main-list-item">
			<img src="{{idea.custom1}}" alt="{{idea.title}}"/>
			<h4>{{idea.title}}</h4>
		</li>
	{% endfor %}</ul>
<ul class="unstyled last">
	{% for idea in pagination.collection %}
		<li class="main-list-item">
			<img src="{{idea.custom1}}" alt="{{idea.title}}"/>
			<h4>{{idea.title}}</h4>
		</li>
	{% endfor %}
</ul>