<style type="text/css">
	.lightbox {
		display: none;
		border-radius: 4px;
		background-color: #e1e1e1;
		padding: 5px;
	}
</style>

<ul class="unstyled mainlist"></ul>
<ul class="unstyled mainlist"></ul>
<ul class="unstyled mainlist"></ul>
<ul class="unstyled mainlist last"></ul>

<div class="lightbox" id="main-list-item-lightbox">
	<img src="http://placehold.it/500x500"/>
</div>

<script type="text/javascript">
	
	var ideas = new Array();
	var col = 0;
	
	{% for idea in space.ideas %}
		ideas[{{forloop.index0}}] = new Object;
		ideas[{{forloop.index0}}].title = '{{idea.title | replace: "'","&#39;"}}';
		ideas[{{forloop.index0}}].custom1 = '{{idea.custom1}}';
	{% endfor %}
	
	
	for(var i = 0; i<ideas.length; i++){
		$('.mainlist').eq(col).append('<li class="main-list-item"><img src="'+ideas[i].custom1+'" alt="{{idea.title}}"/><h4>'+ideas[i].title+'</h4></li>');
		
		if(col<4){
			col++;
		}else{
			col=0;
		}
	}
	
	$('.main-list-item').click(function(){
		$('#main-list-item-lightbox').find('img').attr('src', 'http://placehold.it/400x400');
		$('#main-list-item-lightbox').lightbox_me();
	});
</script>


