<form method="post" action="{{space.permalink}}/ideas" class="add-new" enctype="multipart/form-data">
	<input name="idea[title]" type="text" placeholder="Title">
	<input name="idea[content]" placeholder="Description"/>
	<div class="hide">
		{% for image in params.images %}
			<input name="idea[custom1]" type="radio" value="{{image}}" id="radio-{{forloop.index0}}"/>
		{% endfor %}
	</div>
	<input type="submit">
</form>

<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 < 3 %}
			<label for="radio-{{forloop.index0}}">
				<li class="main-list-item">
					<img src="{{image}}"/>
				</li>
			</label>
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 >= 3 %}
			{% if forloop.index0 < 6 %}
				<label for="radio-{{forloop.index0}}">
					<li class="main-list-item">
						<img src="{{image}}"/>
					</li>
				</label>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 >= 6 %}
			{% if forloop.index0 < 9 %}
				<label for="radio-{{forloop.index0}}">
					<li class="main-list-item">
						<img src="{{image}}"/>
					</li>
				</label>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist last">
	{% for image in params.images %}
		{% if forloop.index0 >= 9 %}
			<label for="radio-{{forloop.index0}}">
				<li class="main-list-item">
					<img src="{{image}}"/>
				</li>
			</label>
		{% endif %}
	{% endfor %}
</ul>

<script type="text/javascript">
	$('label').click(function(){
		$('.main-list-item').each(function(){
			$(this).removeClass('selected');
		})
		$(this).nearest('.main-list-item').addClass('selected');
	})
</script>