{% if env == "development" %}
	{% assign asset_url="http://127.0.0.1:8080" %}
{% else %}
	{% assign asset_url="http://adambutler.github.com/rusic-pintrest-clone/public" %}
{% endif %}

<link rel="stylesheet" type="text/css" href="{{asset_url}}/styles/new.css">

<!-- Main Form -->
<form method="post" action="{{space.permalink}}/ideas" class="add-new" enctype="multipartfbtnform-data">
	<input name="idea[content]" placeholder="Description" class="hide" value="Nothing to see here!"/>
	<div class="hide">
		{% for image in params.images %}
			<input name="idea[custom1]" type="radio" value="{{image}}" id="radio-{{forloop.index0}}"/>
		{% endfor %}
	</div>
	
	<div id="formbar">
		<input name="idea[title]" type="text" placeholder="Title" id="input-title">
		<input type="submit" class="btn" disabled="disabled" id="input-submit" onclick="parent.document.body.removeChild(parent.document.getElementById('rusic-modal')); parent.document.body.removeChild(parent.document.getElementById('rusic-modal-close'));">
	</div>
</form>

<!-- Thumbnail columns -->
<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 < 3 %}
			<label for="radio-{{forloop.index0}}">
				<li class="main-list-item">
					<img src="{{image}}"/>
				</li>
			</label>
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 >= 3 %}
			{% if forloop.index0 < 6 %}
				<label for="radio-{{forloop.index0}}">
					<li class="main-list-item">
						<img src="{{image}}"/>
					</li>
				</label>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist last">
	{% for image in params.images %}
		{% if forloop.index0 >= 6 %}
			<label for="radio-{{forloop.index0}}">
				<li class="main-list-item">
					<img src="{{image}}"/>
				</li>
			</label>
		{% endif %}
	{% endfor %}
</ul>

<!-- Scripts -->
<script type="text/javascript">
	var thumbSelected = false;
	
	$('label').click(function(){
		$('.main-list-item').each(function(){
			$(this).removeClass('selected').css('border-width', '1px');
		})
		$(this).find('.main-list-item').addClass('selected').css('border-width', '3px');
		
		thumbSelected = true;
		if($('#input-title').val() != ""){
			$('#input-submit').addClass('btn-primary').removeAttr('disabled');
		}
		
		$('#input-title').keyup(function(){
			if(thumbSelected == true && $(this).val() != ""){
				$('#input-submit').addClass('btn-primary').removeAttr('disabled');
			}else{
				$('#input-submit').removeClass('btn-primary').attr('disabled', 'disabled');
			}
		})
	})
</script>