<form method="post" action="{{space.permalink}}/ideas" class="add-new" enctype="multipart/form-data">
	<input name="idea[title]" type="text" placeholder="Title">
	<input name="idea[content]" placeholder="Description"/>
	<input name="idea[custom1]" type="text" placeholder="image url">
	<input type="submit">
</form>

{% for image in params.images %}
	<input name="idea[custom1]" type="radio" value="{{image}}" id="radio-{{forloop.index0}}"/>
{% endfor %}

<ul class="thumbnails">
	{% for image in params.images %}
		<li class="span3">
			<label class="thumbnail" for="radio-{{forloop.index0}}">
				<img src="{{image}}" class=""/>
			</label>
		</li>
	{% endfor %}
</ul>

<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 < 3 %}
			<li class="main-list-item">
				<img src="{{image}}"/>
			</ul>
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 >= 3 %}
			{% if forloop.index0 < 6 %}
				<li class="main-list-item">
					<img src="{{image}}"/>
				</ul>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist">
	{% for image in params.images %}
		{% if forloop.index0 >= 6 %}
			{% if forloop.index0 < 9 %}
				<li class="main-list-item">
					<img src="{{image}}"/>
				</ul>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
<ul class="unstyled mainlist last">
	{% for image in params.images %}
		{% if forloop.index0 >= 9 %}
			<li class="main-list-item">
				<img src="{{image}}"/>
			</ul>
		{% endif %}
	{% endfor %}
</ul>