<style type="text/css">
	#ajaxContent .container {
		padding: 0 20px;
		width: 700px;
	}
	
	.show-image {
		padding: 10px;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #dadada;
		max-height: 300px;
		max-width: 700px;
	}
</style>

<!-- Handle AJAX requests here -->
{% if params.ajax %}
	{% if params.ajax == 'comments' %}
		<div id="ajaxContent">
			<ul class="comment-list unstyled">
				{% if idea.comments != empty %}
					{% for comment in idea.comments %}
						<li class="comment-list-comment">
							<img src="{{comment.user.image_url}}" alt="avatar" class="avatar"/>
							<div class="comment-text">
								<div class="comment-content">{{comment.body | markdown}}</div>
								<div class="comment-meta">by <a href="{{comment.user.profile_url}}" title="Profile of {{comment.user.nickname}} on {{comment.user.provider}}">{{comment.user.nickname}}</a></div>
							</div>
						</li>
					{% endfor %}
				{% else %}
					<li class="comment-list-comment">There aren't any comments here yet, why not be the first to say something!</li>
				{% endif %}
				<li class="comment-list-comment">
					<form action="{{idea.permalink}}/comments" method="post" charset="utf-8">
						<div class="input"><textarea id="comment_body" name="comment[body]"></textarea></div>
						<div class="checkarea"><input class="checkbox" type="checkbox" id="comment_should_post_to_social" name="comment[should_post_to_social]" value="1" checked="checked" /> share this comment to {{current_user.provider}}?</div>
						<br/>
						<input type="submit" name="submit" value="post comment" class="btn btn-primary" />
					</form>
				</li>
				
				<!--
				<li class="comment-list-comment">
					<form the_link="{{idea.permalink}}/comments" method="post" charset="utf-8">
						<div class="input"><textarea id="comment_body" name="comment[body]"></textarea></div>
						<div class="checkarea"><input class="checkbox" type="checkbox" id="lightbox-ajax-comment-submit" name="comment[should_post_to_social]" value="1" checked="checked" /> share this comment to {{current_user.provider}}?</div>
						<br/>
						<div class="btn btn-primary" id="lightbox-ajax-comment-submit">Submit</div>
					</form>
				</li>
				-->
			</ul>
		</div>
	{% endif %}
{% elsif comment %}
	
{% else %}
<!-- No AJAX requests here continue as normal -->
	<h1>Thanks!</h1><br/>
	<img class="show-image" src="{{idea.custom1}}">

	<!--
	<form action="{{idea.permalink}}/comments" method="post" charset="utf-8">
		<div class="input"><textarea id="comment_body" name="comment[body]"></textarea></div>
		<div class="checkarea"><input class="checkbox" type="checkbox" id="comment_should_post_to_social" name="comment[should_post_to_social]" value="1" checked="checked" /> share this comment to {{current_user.provider}}?</div>
		<input type="submit" name="submit" value="post comment" class="btn primary"/></div>
	</form>
	-->
{% endif %}
