{% if env == "development" %}
	{% assign asset_url="http://127.0.0.1/public" %}
{% else %}
	{% assign asset_url="http://adambutler.github.com/rusic-pintrest-clone/public" %}
{% endif %}

<!DOCTYPE html>
<html>
	<head>
		<title>
			{% if idea %}
				{{idea.title}} &middot; {{space.title}}
			{% else %}
				{{space.title}}
			{% endif %}
		</title>
			
		<!-- <link rel="stylesheet" type="text/css" href="{{ asset_url }}/styles/css/style.css"> -->
		<link rel="stylesheet" type="text/css" href="{{asset_url}}/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{asset_url}}/styles/fonts/webfontkit-20120227-063853/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="{{asset_url}}/styles/fonts/webfontkit-20120227-075113/stylesheet.css">
		
		<!-- Scripts -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="{{asset_url}}/js/jquery.lightbox_me.js"></script>
		<script type="text/javascript" src="{{asset_url}}/bootstrap/js/bootstrap.min.js"></script>
		<!-- Will move css later -->
		
		<style type="text/css">
		
			.pointer {
				cursor: pointer;
			}
			
			.hide {
				display: none;
			}
			
			body {
				background: url('http://subtlepatterns.com/patterns/groovepaper.png')
			}
			
			header.main {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 80px;
				border-bottom: 1px solid #ddd;
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
				background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
				-moz-box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
				-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
				box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
			}
			
			footer.main {
				width: 100%;
				height: 80px;
				border-bottom: 1px solid #ddd;
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
				background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
				-moz-box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
				-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
				box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
			}
			
			footer.main p {
				line-height: 80px;
			}
			
			header.main .container{
				position: relative;
			}
			
			h1, h1:hover{
				font-family: 'Lobster13Regular', sans-serif;
				font-size: 80px;
				text-align: center;
				margin-top: 20px;
				font-weight: normal;
			}
			
			a, a:hover {
				text-decoration: none;
			}
			
			h2 {
				font-family: 'SocialLogosRegular', sans-serif;
				font-size: 46px;
				text-align: right;
				position: absolute;
				top: 5px;
				right: 0;
				margin-top: 20px;
				font-weight: normal;
			}
			
			h2 a{
				color: #333;
			}
			
			#header-buttons {
				position: absolute;
				top: 5px;
				right: 0;
				margin-top: 20px;
			}
			
			.red {
				color: #b33732;
				text-shadow: 0 1px 0 #ccc,
			                 0 2px 0 #c9c9c9,
			                 0 3px 0 #bbb,
			                 0 4px 0 #b9b9b9,
			                 0 5px 0 #aaa,
			                 0 6px 1px rgba(0,0,0,.1),
  			                 0 0 5px rgba(0,0,0,.1),
  			                 0 1px 3px rgba(0,0,0,.3),
  			                 0 3px 5px rgba(0,0,0,.2),
			                 0 5px 10px rgba(0,0,0,.25),
			                 0 10px 10px rgba(0,0,0,.2),
			                 0 20px 20px rgba(0,0,0,.15);
			}
			
			#main {
				margin-top: 100px;
			}
			
			/* List */
			
			.mainlist {
				width: 220px;
				margin-right: 20px;
				float: left;
			}
			
			.mainlist.last {
				margin-right: 0;
			}
			
			.mainlist li {
				width: 200px;
				padding: 10px;
				background-color: #fff;
				border-radius: 4px;
				border: 1px solid #dadada;
				float: left;
				margin: 10px 0;
				-moz-box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
				-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
				box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
				cursor: pointer;
			}
			
			.mainlist li:hover, .mainlist li.selected {
				border-color: #b33732;
			}
			
			.facebook:hover {
				color: #3b5998;
			}
			
			.twitter:hover {
				color: #0099d5;
			}
			
			.font-social-logos {
				font-family: 'SocialLogosRegular', sans-serif;
			}
			
		</style>
	</head>	
	<body>
		<header class="main">
			<div class="container">
				<a href="{{space.permalink}}">
					<h1 class="red title">{{space.title}}</h1>
				</a>
				{% if current_user %}
					<div id="header-buttons">
						{% if current_user.provider == 'twitter' %}
							<div class="btn twitter">
			    				<a href="/auth/signout">
			    					<span class="font-social-logos">M</span> Signout
			    				</a>
			    			</div>
						{% else %}
							<div class="btn facebook">
								<a href="/auth/signout">
			    					<span class="font-social-logos">C</span> Signout
			    				</a>
			    			</div>
		    			{% endif %}
		    			<a class="btn" id="bookmarklet-link" rel="tooltip" data-original-title="Drag me to your bookmark bar!" href="javascript:%20(function()%20%7B%20%20var%20s%20=%20document.createElement('script');%20%20s.setAttribute('src','http://adambutler.github.com/rusic-pintrest-clone/public/bookmarklet.js');%20%20document.body.appendChild(s);%7D)();">
		    				♥ Bookmarklet
			    		</a>
	    			</div>
				{% else %}
					<h2 class="social">
						<a href="/auth/twitter">
							<span class="twitter">M</span>
						</a>
						<a href="/auth/facebook">
							<span class="facebook">C</span>
						</a>
					</h2>
				{% endif %}
			</div>
		</header>
		<div class="container" id="main">
			{{yield}}
		</div>
		<footer class="main">
			<div class="container"
				<h3>I have no need for a footer #fool</h3>
			</div>
		</footer>
		<script type="text/javascript">
			$('#bookmarklet-link').tooltip({placement:'bottom'}).click(function(e){
				e.preventDefault();		
			}).mouseover(function(e){
				e.preventDefault();		
			});
		</script>		
	</body>
</html>